doctype html
html.is-clipped
  head
    title Duet
    link(rel = 'stylesheet', href = 'https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head
  body.is-clipped
    block content
