extends layout

block head
  script(src = '/socket.io/socket.io.js', defer)
  script(src = 'https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js', defer)
  script(src = '/javascripts/room.js', defer, type = 'module')

block content
  figure#me.video-container.is-overlay
  section.hero.is-primary.is-fullheight
    .hero-body
      .container.has-text-centered
        figure.video-container.image
  template#activkey= activkey
  template#peer= peer