extends layout

block head
  script(src = '/socket.io/socket.io.js', defer)
  script(src = 'https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js', defer)
  script(src = '/javascripts/script.js', defer)

block content
  section.hero.is-primary
    .hero-body
      .container
        h1.title Room
        h2.subtitle Welcome
  section.section
    .container
      .columns
        .column
          figure.video-container.image.is-4by3
        .column
          figure.video-container.image.is-4by3
